html {
  overflow-y: overlay;
}

::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

@keyframes childanim {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#logo-box:hover #logo-box-child {
  transition: 200ms ease;
  animation: childanim 0.7s alternate;
}

#nprogress {
  position: relative;
  z-index: 9999999;
}
