html {
  overflow-y: overlay;
}

@keyframes childanim {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#logo-box:hover #logo-box-child {
  transition: 200ms ease;
  animation: childanim 0.7s alternate;
}
